In [79]:
import pandas as pd
from scipy.stats import pearsonr

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [25]:
df = pd.read_csv('../data/breast_cancer/breast_cancer_data.csv')

In [26]:
df.head()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis,age,pregnancies,name,zipcode,diabetes,family_history
0,17.99,10.38,122.80,1001.0,0.1184,0,33,1,Abigail Shaffer,53013,0,0
1,14.22,23.12,94.37,609.9,0.1075,0,25,7,Tiffany Miller,53007,0,0
2,12.34,26.86,81.15,477.4,0.1034,0,39,8,Anna Walker,53001,0,1
3,14.86,23.21,100.40,NaN,0.1044,0,30,5,Elizabeth Perkins,53006,0,1
4,13.77,22.29,90.63,588.9,0.1200,0,29,1,Erin Warner,53001,0,0

In [38]:
df[['age','mean_radius','mean_texture','mean_perimeter','mean_area','mean_smoothness','diabetes','family_history','diagnosis']].corr()

,age,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diabetes,family_history,diagnosis
age,1.000000,-0.584340,-0.335382,-0.600677,-0.563556,-0.275720,0.303727,0.337449,0.817927
mean_radius,-0.584340,1.000000,0.324875,0.997812,0.987139,0.165649,-0.210744,-0.275584,-0.733870
mean_texture,-0.335382,0.324875,1.000000,0.325693,0.316743,-0.016475,-0.125740,-0.221870,-0.416965
mean_perimeter,-0.600677,0.997812,0.325693,1.000000,0.986235,0.211912,-0.233816,-0.295255,-0.742076
mean_area,-0.563556,0.987139,0.316743,0.986235,1.000000,0.179204,-0.204727,-0.254880,-0.705188
mean_smoothness,-0.275720,0.165649,-0.016475,0.211912,0.179204,1.000000,-0.141273,-0.089996,-0.358560
diabetes,0.303727,-0.210744,-0.125740,-0.233816,-0.204727,-0.141273,1.000000,0.003648,0.333098
family_history,0.337449,-0.275584,-0.221870,-0.295255,-0.254880,-0.089996,0.003648,1.000000,0.354445
diagnosis,0.817927,-0.733870,-0.416965,-0.742076,-0.705188,-0.358560,0.333098,0.354445,1.000000

In [61]:
df.dropna(inplace=True)

y = df.diagnosis
X = df[['age','mean_radius','mean_texture','mean_perimeter','mean_area','mean_smoothness','diabetes','family_history']]

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [67]:
model = LogisticRegression(max_iter=500)
model.fit(X_train,y_train)

LogisticRegression(max_iter=500)

In [72]:
model.predict([[45,14.22,22.29,122.80,609.9,0.1034,0,0]])

array([0])

In [73]:
X_test

,age,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diabetes,family_history
525,38,13.640,15.60,87.38,575.3,0.09423,0,1
102,29,17.300,17.08,113.00,928.2,0.10080,0,0
501,45,11.140,14.07,71.24,384.6,0.07274,0,1
550,45,14.410,19.73,96.03,651.0,0.08757,1,1
494,46,13.300,21.57,85.24,546.1,0.08582,1,0
...,...,...,...,...,...,...,...,...
25,34,17.050,19.08,113.40,895.0,0.11410,0,1
368,47,9.731,15.34,63.78,300.2,0.10720,1,0
54,30,17.470,24.68,116.10,984.6,0.10490,0,1
35,29,16.160,21.54,106.20,809.8,0.10080,0,0
131,33,18.610,20.25,122.10,1094.0,0.09440,0,1

In [70]:
y_pred = model.predict(X_test)

In [80]:
accuracy_score(y_test,y_pred)

0.967479674796748

In [71]:
y_pred

array([1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [77]:
y_test.values

array([1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [74]:
X_test

,age,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diabetes,family_history
525,38,13.640,15.60,87.38,575.3,0.09423,0,1
102,29,17.300,17.08,113.00,928.2,0.10080,0,0
501,45,11.140,14.07,71.24,384.6,0.07274,0,1
550,45,14.410,19.73,96.03,651.0,0.08757,1,1
494,46,13.300,21.57,85.24,546.1,0.08582,1,0
...,...,...,...,...,...,...,...,...
25,34,17.050,19.08,113.40,895.0,0.11410,0,1
368,47,9.731,15.34,63.78,300.2,0.10720,1,0
54,30,17.470,24.68,116.10,984.6,0.10490,0,1
35,29,16.160,21.54,106.20,809.8,0.10080,0,0
131,33,18.610,20.25,122.10,1094.0,0.09440,0,1

In [59]:
X_train.d

,age,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diabetes,family_history
500,47,12.560,19.07,81.92,485.8,0.08760,0,1
207,26,13.610,24.98,88.05,582.7,0.09488,0,0
22,25,17.080,NaN,111.20,930.9,0.09898,0,0
342,47,7.691,NaN,48.34,170.4,0.08668,0,0
326,50,10.820,24.21,68.89,361.6,0.08192,0,1
...,...,...,...,...,...,...,...,...
255,40,9.405,21.70,59.60,271.2,0.10440,1,1
105,30,19.550,28.77,133.60,1207.0,0.09260,0,0
510,55,9.606,16.84,61.64,280.5,0.08481,0,1
367,46,11.150,13.08,70.87,381.9,0.09754,1,1
568,54,7.760,24.54,47.92,181.0,0.05263,0,1

In [57]:
model = LinearRegression()
model.fit()

In [54]:
X_train

,age,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diabetes,family_history
500,47,12.560,19.07,81.92,485.8,0.08760,0,1
207,26,13.610,24.98,88.05,582.7,0.09488,0,0
22,25,17.080,NaN,111.20,930.9,0.09898,0,0
342,47,7.691,NaN,48.34,170.4,0.08668,0,0
326,50,10.820,24.21,68.89,361.6,0.08192,0,1
...,...,...,...,...,...,...,...,...
255,40,9.405,21.70,59.60,271.2,0.10440,1,1
105,30,19.550,28.77,133.60,1207.0,0.09260,0,0
510,55,9.606,16.84,61.64,280.5,0.08481,0,1
367,46,11.150,13.08,70.87,381.9,0.09754,1,1
568,54,7.760,24.54,47.92,181.0,0.05263,0,1

In [46]:
y_train

562    1
544    1
85     0
201    0
337    1
      ..
551    1
390    1
190    0
501    1
431    1
Name: diagnosis, Length: 426, dtype: int64

In [47]:
y_test

16     0
227    1
202    0
109    0
188    0
      ..
126    0
387    1
524    1
564    1
129    0
Name: diagnosis, Length: 143, dtype: int64

In [44]:
X_train.shape[0] / df.shape[0]

0.7486818980667839

In [45]:
X_test.shape[0] / df.shape[0]

0.2513181019332162

In [43]:
X_test

,age,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diabetes,family_history
16,37,17.42,25.56,114.50,948.0,0.10060,0,0
227,48,12.21,18.02,78.31,458.4,0.09231,1,0
202,23,19.81,22.15,130.00,1260.0,0.09831,0,0
109,34,20.60,29.33,140.10,1265.0,0.11780,0,0
188,26,12.45,15.70,82.57,477.1,0.12780,0,1
...,...,...,...,...,...,...,...,...
126,41,21.09,26.57,142.70,1311.0,0.11410,0,0
387,41,12.25,17.94,78.27,460.3,0.08654,0,0
524,44,12.42,NaN,78.61,NaN,0.07926,0,0
564,50,10.71,20.39,69.50,344.9,0.10820,0,1
129,27,13.80,15.79,90.43,584.1,0.10070,1,0

In [36]:
pearsonr(x.mean_radius,y)

ValueError: array must not contain infs or NaNs

In [30]:
df.name.nunique() / df.shape[0]

0.9947275922671354

In [31]:
x

NameError: name 'x' is not defined

In [8]:
df.head()

    ANO ESTADO  CÓDIGO IBGE     Município  Vendas
0  2010  Acre       1200013    ACRELANDIA   93287
1  2010  Acre       1200054  ASSIS BRASIL   36370
2  2010  Acre       1200104     BRASILEIA  933610
3  2010  Acre       1200138        BUJARI  174383
4  2010  Acre       1200179      CAPIXABA  168186

In [18]:
treino = df.loc[0:3062,:]
teste = df.loc[3063:,:]

In [24]:
df.ESTADO.value_counts(normalize=True)

São Paulo               0.149816
Minas Gerais            0.141738
Bahia                   0.083966
Rio Grande do Sul       0.081763
Paraná                  0.073195
Santa Catarina          0.052142
Goiás                   0.048470
Ceará                   0.036475
Pernambuco              0.035741
Pará                    0.028397
Piauí                   0.026928
Mato Grosso             0.026438
Maranhão                0.026193
Paraíba                 0.024969
Rio Grande do Norte     0.022032
Rio de Janeiro          0.022032
Alagoas                 0.019094
Espírito Santo          0.018115
Mato Grosso do Sul      0.017625
Tocantins               0.014933
Sergipe                 0.014688
Amazonas                0.014198
Rondônia                0.011506
Acre                    0.004162
Roraima                 0.003427
Amapá                   0.001714
Distrito Federal        0.000245
Name: ESTADO, dtype: float64

In [21]:
treino.ESTADO.unique()

array(['Acre\xa0', 'Alagoas\xa0', 'Amazonas', 'Amapá\xa0', 'Bahia',
       'Ceará\xa0', 'Distrito Federal', 'Espírito Santo', 'Goiás',
       'Maranhão\xa0', 'Minas Gerais', 'Mato Grosso do Sul',
       'Mato Grosso', 'Pará\xa0', 'Paraíba\xa0', 'Pernambuco\xa0',
       'Piauí', 'Paraná', 'Rio de Janeiro', 'Rio Grande do Norte\xa0',
       'Rondônia', 'Roraima\xa0', 'Rio Grande do Sul'], dtype=object)

In [22]:
teste.ESTADO.unique()

array(['Rio Grande do Sul', 'Santa Catarina', 'Sergipe', 'São Paulo',
       'Tocantins\xa0'], dtype=object)